<a href="https://colab.research.google.com/github/mr-alamdari/NLP-Classification-and-Vector-Spaces-Begginer/blob/main/NLP_Classification_and_Vector_Spaces_Begginer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#1.Data

##[Movie lens](https://grouplens.org/datasets/movielens/)

In [18]:
!wget https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz

--2022-04-10 13:09:59--  https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
Resolving ai.stanford.edu (ai.stanford.edu)... 171.64.68.10
Connecting to ai.stanford.edu (ai.stanford.edu)|171.64.68.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84125825 (80M) [application/x-gzip]
Saving to: ‘aclImdb_v1.tar.gz’

aclImdb_v1.tar.gz   100%[===================>]  80.23M  23.2MB/s    in 3.5s

2022-04-10 13:10:02 (23.2 MB/s) - ‘aclImdb_v1.tar.gz’ saved [84125825/84125825]

In [20]:
import tarfile
files = tarfile.open('/content/aclImdb_v1.tar.gz')
files.extractall('/content/')

In [21]:
path2data = '/content/aclImdb/'

os.listdir(path2data)

['imdbEr.txt', 'test', 'imdb.vocab', 'README', 'train']

In [17]:
pd.read_csv(f'{path2data}links.csv')

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

[62423 rows x 3 columns]